.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#how-it-works {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#how-it-works > iframe {
    max-width: 560px;
    width: 100%;
}