.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 800px){
    #pricing {
        flex-direction: column;
    }
}